<h1>Weekend Moves!</h1>

<h2> Welcome to Weekend Moves your one stop shop for finding what is out there to do this weekend next or a month from
    now! </h2>

<h2>Dates</h2>
<ul>
    {{#each date}}
    {{/each}}
</ul>

<h2>Pick Dates</h2>

<form action="/scrape" method="POST">
    Pick your dates <br>
    <select name="month">
        <option value="january">january</option>
        <option value="february">february</option>
        <option value="february">march</option>
        <option value="february">april</option>
        <option value="february">may</option>
        <option value="february">june</option>
        <option value="february">july</option>
        <option value="february">august</option>
        <option value="february">september</option>
        <option value="february">october</option>
        <option value="february">november</option>
        <option value="february">december</option>
    </select>

    <input type="submit" value="Submit" id="new-date">

</form>

<div class="article">
    {{#each article}}
    <div class="card border-primary mb-3"></div>
    <div class="card-title" id={{this.id}}><a href={{this.url}}>{{this.title}}</a>
        <div class="card-body">{{this.date}}
            <form>Comments
                <input type="text" name="comment" {{this.comment}}><input type="submit" id="save" value="save">
                <input type="submit" id="delete" value="delete">
            </form>
            </form>
        </div>
    </div>
    {{/each}}
</div>